@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0b0e11;
  --bg-card: #1e2329;
  --bg-input: #2b3139;
  --accent: #f0b90b;
  --long: #0ecb81;
  --short: #f6465d;
  --neutral: #848e9c;
  --text-primary: #eaecef;
  --text-secondary: #848e9c;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'IBM Plex Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background: #2b3139;
  border-radius: 3px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
